/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-menu-link-padding-horizontal: 1.5em;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --examen-bg: #ffebec;
  --examen-font-color: #003100;
  --remise-tp-bg: #e6f6e6;
  --remise-tp-font-color: #003100;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --examen-bg: #4b1113;
  --examen-font-color: #f4e7ec;
  --remise-tp-bg: #003100;
  --remise-tp-font-color: #d3f0e6;
}

.examen {
  background-color: var(--examen-bg);
  color: var(--examen-font-color);
}

.remise-tp1-uml::after,
.remise-tp1-code::after,
.remise-tp1-signalr::after,
.remise-tp1-groupe::after,
.remise-tp2-groupe-devops::after,
.remise-tp2-fonctionnalites::after,
.remise-tp3-groupe::after,
.remise-tp3-devops::after,
.remise-tp3-fonctionnalites::after {
  text-align: center;
  width: 100%;
  display: block;
  background: #8787ff;
  font-size: 0.75em;
}

.remise-tp1-uml::after {
  content: "Remise TP1 UML (3%)";
}

.remise-tp1-code::after {
  content: "Remise TP1 Code (10%)";
}

.remise-tp1-signalr::after {
  content: "Remise TP1 SignalR (10%)";
}

.remise-tp1-groupe::after {
  content: "Remise TP1 Groupe (5% + 2%)";
}

.remise-tp2-groupe-devops::after {
  content: "Remise TP2 Groupe & DevOps (2% + 3%)";
}

.remise-tp2-fonctionnalites::after {
  content: "Remise TP2 Fonctionnalités (10% + 5%)";
}

.remise-tp3-groupe::after {
  content: "Remise TP3 Groupe (4%)";
}

.remise-tp3-devops::after {
  content: "Remise TP3 DevOps (4%)";
}

.remise-tp3-fonctionnalites::after {
  content: "Remise TP3 Fonctionnalités (10% + 4% + 2%)";
}

.petit-texte{
  font-size: xx-large;
  padding-right: 40px;
}

.slide-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}